# Core packages
numpy==1.26.4
scipy==1.10.1

# JAX and JAXLIB (specific versions requested)
jax==0.4.23
jaxlib==0.4.23

# Adversarial Robustness Toolbox
adversarial-robustness-toolbox

# Transformers and HuggingFace datasets
transformers==4.30.2
datasets==3.5.0
fsspec==2024.3.1
gcsfs==2024.3.1

# NLP Augmentation
nlpaug

# LIME for explainability
lime

# BERT visualization
bertviz

# Multi-label learning and dataset formats
scikit-multilearn
liac-arff

# NOTE: PECOS must be installed manually
# git clone https://github.com/amzn/pecos.git
# cd pecos
# pip install -e .[xtransformer]